@font-face {
    font-family: 'sfpro';
    src: url('../assets/fonts/sf-pro-text_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    letter-spacing: .007em;
  }

  @font-face {
    font-family: 'sfpro';
    src: url('../assets/fonts/sf-pro-text_bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    letter-spacing: .007em;
  }
  
  @font-face {
    font-family: 'sfpro';
    src: url('../assets/fonts/sf-pro-text_semibold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    letter-spacing: .007em;
  }

  @font-face {
    font-family: 'sfpro';
    src: url('../assets/fonts/sf-pro-text_light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    letter-spacing: .007em;
  }

:root {
    --hoofdkleur:black;
    --achtergrondkleur:white;
    --body-fonts:'sfpro', sans-serif;
}
/*@media (prefers-color-scheme:dark) 
{
    :root{
        --hoofdkleur:white;
        --achtergrondkleur:black;

    }
}
*/

* {
    margin: 0;
    padding: 0;
  }

header section {
    display: flex;
    justify-content: flex-end;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: var(--achtergrondkleur);
}

header img {
    display:flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 1;
    width: 6.5vw;
    padding: .7em 0 0 .8em;

}

header svg {
    position: relative;
    z-index: 1;
    width: 5.3vw;
    padding: 0 0 0 2em;
}


header button {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.2em;
    padding-right: 1em;
    position: relative;
    z-index: 3;
    order: 1;
}


header > button {
    order: -1;
}

nav {
    padding-bottom: 2em;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    translate:0% -100%;
    transition:translate .5s;
    background-color: var(--achtergrondkleur);
    display: flex;
    align-self: flex-start;
    z-index: 2;
}

nav.toonMenu {
    translate:0% 0%;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4em;
}





nav ul li {
    font-family: var(--body-fonts);
    list-style: none;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-left: 13vw;

    /* animation-name: slideDown, reveal; */
    /* animation-play-state: paused; */
    
}

nav.toonMenu ul li {
     animation-name: slideDown, reveal;
    /* animation-play-state: running; */
    animation-delay: .25s;
    animation-fill-mode: backwards;
}

nav.toonMenu ul li:nth-of-type(1) {
    animation-duration: .5s, 0s;
}
nav.toonMenu ul li:nth-of-type(2) {
    animation-duration: .5s, .2s;
}
nav.toonMenu ul li:nth-of-type(3) {
    animation-duration: .5s, .4s;
}
nav.toonMenu ul li:nth-of-type(4) {
    animation-duration: .5s, .6s;
}
nav.toonMenu ul li:nth-of-type(5) {
    animation-duration: .5s, .8s;
}
nav.toonMenu ul li:nth-of-type(6) {
    animation-duration: .5s, 1s;
}
nav.toonMenu ul li:nth-of-type(7) {
    animation-duration: .5s, 1.2s;
}
nav.toonMenu ul li:nth-of-type(8) {
    animation-duration: .5s, 1.4s;
}
nav.toonMenu ul li:nth-of-type(9) {
    animation-duration: .5s, 1.6s;
}
nav.toonMenu ul li:nth-of-type(10) {
    animation-duration: .5s, 1.8s;
}


@keyframes slideDown {
    0% {
        margin-top: -.5em;
    }

    100% {
        margin-top: 0em;
    }
}

@keyframes reveal {
    0% {
        opacity:0
    }

    100% {
        opacity:1;
    }
}

nav ul li a {
    display:block;
    text-decoration: none;
    font-weight: 700;
    color:var(--hoofdkleur);
}



nav ul li a img{
    width: 1em;
}

button{
    background-color: var(--achtergrondkleur);
    border: none;
}


p {
    font-family: var(--body-fonts);
    font-weight: 400;
    color:var(--hoofdkleur)
}

body {
    background-color: var(--achtergrondkleur);
}

footer {
    align-content: center;
    background-color: whitesmoke;
}

footer ol {
    padding-left: 9vw;
    border-bottom: 1em;
}

footer ol li {
    width: 90%;
    align-items: center;
    font-family: var(--body-fonts);
    font-weight: 300;
    font-size: 0.72em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: grey;
}

footer ul {
    padding-left: 7vw;
}

footer ul li {
    width: 95%;
    align-items: center;
    font-family: var(--body-fonts);
    list-style: none;
    font-weight: 300;
    font-size: 0.72em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--hoofdkleur);
    border-bottom: .01em  solid rgb(177, 177, 177);
}

footer ul li:first-of-type {
    border-top: .01em solid rgb(177, 177, 177);
    padding-top: 3em;
}

footer p {
    font-weight: 300;
    font-size: 0.75em;
    color: grey;
    width: 90%;
    padding-left: 7vw;
    padding-bottom: 2em;
    padding-top: 1em;
}

footer a {
    color: cornflowerblue;
    text-decoration: underline;
}

span {
    white-space: nowrap;
}